body {
    margin: 0 auto;

    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    max-width: #{960px + 2 * 48px};

    color: $fg;
    font-family: "M PLUS 1p", sans-serif;
    background-color: $bg;
}

a {
    color: $primary;

    &:hover,
    &:focus {
        color: $fg;
    }
}
