<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }} - {{ config.description }}</title>
    <style>
        :root {
            --primary: {{ config.extra.aviator_primary }};
            --fg: #000;
            --bg: #fff;
        }
        @media screen and (prefers-color-scheme: dark) {
            :root {
                --fg: #fff;
                --bg: #000;
            }
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ config.base_url }}/style.css">
</head>
<body>

    <!-- header -->
    <a href="{{ config.base_url }}" class="header">
        <img src="{{ config.base_url }}{{ config.extra.aviator_logo }}" alt="" class="header__logo">
        <h1 class="header__title">{{ config.title }}</h1>
        <h2 class="header__description">{{ config.description }}</h2>
    </a>

    <!-- wrap -->
    <div class="wrap">
        {% for page in section.pages | sort(attribute="date") | reverse %}
            <div class="card">
                <img src="{{ config.base_url }}/{{ page.path }}{{ page.extra.thumbnail | default(value='thumbnail.jpg') }}" alt="" class="card__thumbnail">
                <a href="{{ page.path }}" class="card__text">
                    <h3 class="card__text__title">{{ page.title }}</h3>
                    <p class="card__text__description">{{ page.description }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- footer -->
    <footer class="footer"><span title="Build from {{ config.build_timestamp | date(format='%F') }} at {{ config.build_timestamp | date(format='%T') }}">&copy;{{ now() | date(format="%Y") }}</span>
        {% if config.extra.aviator_copy_holder != "" %}
            by 
            {% if config.extra.aviator_copy_link != "" %}
                <a href="{{ config.extra.aviator_copy_link }}" target="_blank">{{ config.extra.aviator_copy_holder }}</a>
            {% else %}
                {{ config.extra.aviator_copy_holder }}
            {% endif %}
        {% endif %}
        {% if config.extra.aviator_credits %}
            - <a href="https://gitlab.com/lukasticky/aviator" target="_blank">Aviator theme</a> by <a href="https://kasticky.me/" target="_blank">Lukas Kasticky</a>
        {% endif %}
    </footer>

</body>
</html>
