.card {
    position: relative;

    display: block;
    width: 256px;
    height: 256px;

    color: $fg;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    &__thumbnail,
    &__text {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__text {
        padding: 24px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - #{2 * 24px});
        height: calc(100% - #{2 * 24px});
        
        color: $fg;
        text-align: center;
        text-decoration: none;
        background-color: $primary;

        transition: $trans;
        transform: scale(.9);
        opacity: 0;

        &__title {
            margin: 0 0 4px;

            width: 100%;

            font-size: 16px;
            font-weight: 700;
        }

        &__description {
            margin: 0;

            width: 100%;

            font-size: 16px;
            font-weight: 400;
        }
    }

    &:hover,
    &:focus {
        .card__text {
            transform: scale(1);
            opacity: 1;
        }
    }

    &:active {
        .card__text {
            transition-duration: .15s;
            transform: scale(.9);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 426px) {
    .card {
        width: 128px;
        height: 128px;

        &__text {
            &__title,
            &__description {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 332px) {
    .card {
        width: 256px;
        height: 256px;
    }
}
